header {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-around;

  font-family: var(--fonte-secundaria);
}

.menu__header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.titulo__header {
  color: white;
  font-size: 20px;
}

.menu__header li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.btn-contato {
  text-align: center;
  padding: 8px;
  width: 100px;

  border-radius: 50px 50px;
  background-color: #ff3c5f;
  background-image: linear-gradient(90deg, #ff3c5f 0%, #9340ff 100%);
  transition: 0.5s;
}

.btn-contato:hover {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #9340ff 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-certificados:hover {
  border-bottom: 2px solid #00DBDE;
}

@media only screen and (max-device-width: 900px) {
  header {
    display: flex;
    flex-direction: column;
    height: 140px;
    /* background-color: #00DBDE; */
  }
}