.main__inicio {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 700px;
}

.main__inicio div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  color: white;
}

.main_inicio--titulo {
  font-size: 70px;
  font-weight: bold;
  font-family: var(--fonte);
  width: 200px;
  height: 200px;
}

.main_inicio--titulo span {
  color: var(--cor-texto-secundaria);
}

.main_inicio--botao {
  text-align: center;
  padding: 15px;
  width: 200px;

  border-radius: 50px 50px;
  background-color: #ff3c5f;
  background-image: linear-gradient(90deg, #ff3c5f 0%, #9340ff 100%);
  transition: 0.5s;
}

.main_inicio--botao:hover {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #9340ff 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main_inicio--botao a {
  color: white;
  font-family: var(--fonte);
  text-decoration: none;
}

.main_inicio--imagem {
  width: 500px;
}

.main__sobre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 600px;
}

.main_sobre--texto {
  font-size: 50px;
  line-height: 1.4em;
  height: 300px;
  width: 50%;
  text-align: center;

  color: white;
  font-family: var(--fonte);
}

.main_sobre--texto span {
  color: var(--cor-texto-secundaria);
}

.main__habilidades {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 650px;
}

.main__habilidades div {
  display: flex;
  flex-direction: column;
  margin-left: 4em;
  width: 450px;
}

.main_habilidades--titulo {
  color: var(--cor-texto-secundaria);
  font-family: var(--fonte);
  font-size: 50px;
}

.main_habilidades--texto {
  color: white;
  font-family: var(--fonte-secundaria);
  font-weight: bold;
}

.main__habilidades .logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}

.main_habilidades--logo {
  width: 168px;
  transition: 1s;
}

.main_habilidades--logo:nth-child(1):hover {
  border-bottom: 3px solid rgb(255, 98, 0);
}

.main_habilidades--logo:nth-child(2):hover {
  border-bottom: 3px solid rgb(0, 110, 255);
}

.main_habilidades--logo:nth-child(3):hover {
  border-bottom: 3px solid rgb(255, 238, 0);
}

.main_habilidades--logo:nth-child(4):hover {
  border-bottom: 3px solid rgb(162, 0, 255);
}

.main_habilidades--logo:nth-child(5):hover {
  border-bottom: 3px solid rgb(0, 157, 255);
}

.main__certificados {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
}

.main_certificados--titulo {
  color: var(--cor-texto-secundaria);
  font-family: var(--fonte);
  font-size: 50px;
  text-align: end;
  margin-right: 3em;
}

#carouselExample {
  margin: 0 auto;
  width: 80%;
}

.carousel {
  height: 80%;
  display: flex;
  justify-content: center;
}

.carousel-item img {
  height: 100%;
}

.carousel-inner {
  /* align-items: center;
  background-color: blue;
  height: 100%;
  display: flex;
  justify-content: space-around; */
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 90%;
  width: 60%;
}

.btn-carousel {
  border-radius: 50px 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80px;
  margin: auto 0;
  height: 200px;
  transition: 0.3s;
}

.btn-carousel:hover {
  box-shadow: var(--cor-texto-secundaria) 0px 1px 4px, var(--cor-texto-secundaria) 0px 0px 0px 3px;
}

.btn-carousel:active {
  box-shadow: #00DBDE 0px 1px 4px, #00DBDE 0px 0px 0px 3px;
}

.visually-hidden {
  color: white;
}

@media only screen and (max-device-width: 900px) {
  .main__inicio {
    display: flex;
    flex-direction: column;
  }

  .main__inicio div {
    flex-direction: column;
    width: 90%;
    align-items: first baseline;
    order: 1;
  }

  .main_inicio--imagem {
    width: 300px;
  }

  .main__sobre {
    display: flex;
  }

  .main_sobre--texto {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 100%;
  }

  .main__habilidades {
    height: 450px;
    width: 100%;
    justify-content: center;
  }
  
  .main__habilidades div {
    width: 100%;
    justify-content: space-around;
    margin-left: 20px;
  }

  .main_habilidades--titulo {
    font-size: 30px;
  }

  .main_habilidades--texto {
    width: 90%;
    height: 100px;
    flex-wrap: wrap;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
  }

  .main_habilidades--logo {
    width: 100px;
    transition: 1s;
  }

  .main__certificados  {
    justify-content: space-around;
    width: 600px;
  }

  .main_certificados--titulo {
    text-align: center;
    justify-content: space-around;
  }

  #certificados {
    margin-top: 50px;
    height: 400px;
    align-items: center;
    width: 96%;
  }
  
  #carouselExample {
    margin: 0px;
    flex-direction: column;
    width: 90%;
  }

  .carousel {
    display: flex;
    justify-content: space-around;
    height: 50%;
    flex-direction: row;
  }

  .main_certificados--titulo {
    margin-right: 0;
    align-items: end;
    font-size: 30px;
    width: 95%;
  }

  .btn-carousel {
    border-radius: 50px 50px;
    border: 2px solid var(--cor-texto-secundaria);
    box-shadow: none;
    width: 30px;
    margin: auto 0;
    height: 20%;
    transition: 0.3s;
  }

  .btn-carousel:hover {
    box-shadow: none;
  }

  .carousel-inner {
    align-items: center;
    margin: 0 auto;
    height: 600px;
    width: 88%;
  }

  .carousel-item {
    margin: 0 auto;
    height: 205px;
    width: 90%;
  }

  .carousel-item img {
    margin: 0 auto;
    height: 200px;
  }

}