.main__contato {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
  /* background-color: red; */
}

/* .main_contato--titulo {
  color: var(--cor-texto-secundaria);
  background-color: red;
  font-size: 70px;
  font-weight: bold;
  font-family: var(--fonte);
  width: 200px;
  height: 200px; 
} */

.main__contato div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
  height: 300px;
}

.main_contato--logo {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  margin: 3px;
  padding: 30px;
  transition: 0.9s;
}

.main_contato--logo:hover {
  box-shadow: var(--cor-texto-secundaria) 0px 1px 4px, var(--cor-texto-secundaria) 0px 0px 0px 3px;
}

@media only screen and (max-device-width: 900px) {
  .main__contato div {
    width: 90%;
  }

  .main_contato--logo {
    border-radius: 5px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.9s;
  }
}