.main__sobre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 600px;
}

.main_sobre--texto {
  font-size: 50px;
  line-height: 1.4em;
  height: 300px;
  width: 50%;
  text-align: center;

  color: white;
  font-family: var(--fonte);
}

.main_sobre--texto span {
  color: var(--cor-texto-secundaria);
}

@media only screen and (max-device-width: 900px) {
  .main__sobre {
    display: flex;
  }

  .main_sobre--texto {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 100%;
  }
}