.main__certificados {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
}

.main_certificados--titulo {
  color: var(--cor-texto-secundaria);
  font-family: var(--fonte);
  font-size: 50px;
  text-align: end;
  margin-right: 3em;
}

#carouselExample {
  margin: 0 auto;
  width: 80%;
}

.carousel {
  height: 80%;
  display: flex;
  justify-content: center;
}

.carousel-item img {
  height: 100%;
}

.carousel-inner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 90%;
  width: 60%;
}

.btn-carousel {
  border-radius: 50px 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80px;
  margin: auto 0;
  height: 200px;
  transition: 0.3s;
}

.btn-carousel:hover {
  box-shadow: var(--cor-texto-secundaria) 0px 1px 4px, var(--cor-texto-secundaria) 0px 0px 0px 3px;
}

.btn-carousel:active {
  box-shadow: #00DBDE 0px 1px 4px, #00DBDE 0px 0px 0px 3px;
}

.visually-hidden {
  color: white;
}

@media only screen and (max-device-width: 900px) {
  .main__certificados  {
    justify-content: space-around;
    width: 600px;
  }
  
  .main_certificados--titulo {
    text-align: center;
    justify-content: space-around;
  }
  
  #certificados {
    margin-top: 50px;
    height: 400px;
    align-items: center;
    width: 96%;
  }
  
  #carouselExample {
    margin: 0px;
    flex-direction: column;
    width: 90%;
  }
  
  .carousel {
    display: flex;
    justify-content: space-around;
    height: 50%;
    flex-direction: row;
  }
  
  .main_certificados--titulo {
    margin-right: 0;
    align-items: end;
    font-size: 30px;
    width: 95%;
  }
  
  .btn-carousel {
    border-radius: 50px 50px;
    border: 2px solid var(--cor-texto-secundaria);
    box-shadow: none;
    width: 30px;
    margin: auto 0;
    height: 20%;
    transition: 0.3s;
  }
  
  .btn-carousel:hover {
    box-shadow: none;
  }
  
  .carousel-inner {
    align-items: center;
    margin: 0 auto;
    height: 600px;
    width: 88%;
  }
  
  .carousel-item {
    margin: 0 auto;
    height: 205px;
    width: 90%;
  }
  
  .carousel-item img {
    margin: 0 auto;
    height: 200px;
  }
}
