.main__inicio {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 700px;
}

.main__inicio div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  color: white;
}

.main_inicio--titulo {
  font-size: 70px;
  font-weight: bold;
  font-family: var(--fonte);
  width: 200px;
  height: 200px;
}

.main_inicio--titulo span {
  color: var(--cor-texto-secundaria);
}

.main_inicio--botao {
  text-align: center;
  padding: 15px;
  width: 200px;

  border-radius: 50px 50px;
  background-color: #ff3c5f;
  background-image: linear-gradient(90deg, #ff3c5f 0%, #9340ff 100%);
  transition: 0.5s;
}

.main_inicio--botao:hover {
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #9340ff 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main_inicio--botao a {
  color: white;
  font-family: var(--fonte);
  text-decoration: none;
}

.main_inicio--imagem {
  width: 500px;
}

@media only screen and (max-device-width: 900px) {
  .main__inicio {
    display: flex;
    flex-direction: column;
  }

  .main__inicio div {
    flex-direction: column;
    width: 90%;
    align-items: first baseline;
    order: 1;
  }

  .main_inicio--imagem {
    width: 300px;
  }
}