@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

:root {
  --bg-cor-principal: #141628;
  --cor-texto-secundaria: #9340FF;
  --fonte: 'Archivo Black', sans-serif;
  --fonte-secundaria: 'Roboto', sans-serif;;
}

body {
  background-color: var(--bg-cor-principal);
}