@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2c2c31;
}

::-webkit-scrollbar-thumb {
  background-color: #B548D7;
  border-radius: 10px;
}

:root {
  --paragrafo-cor: #38BDFF;
}

@keyframes entering {
  /* form  to */
  /* 0% {opacity: 0;} 
  100% {opacity: 1;} */
  from {
    opacity: 0;
    transform: translateY(-300px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

body {
  background-color: #121214;
  font-family: 'Roboto', sans-serif;

  animation: entering 2s ease-in-out;
}

header {  
  /* text-transform: uppercase; */
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

header nav {
  width: 200px; 
  display: flex;
  justify-content: space-around;
}

header nav a {
  text-decoration: none;

  color: #B548D7;
  background-color: #231037;

  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
}

header nav a:hover {
  color: #BEBEBF;  
  background-color: rgb(90, 90, 90);
}

header nav a:active {
  color: #B548D7;
}

header p {
  color: #B548D7;
  font-size: 24px;
  font-weight: bold;
}

.sobre {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 400px;
}

.sobre h2 {
  color: #B548D7;
  font-size: 50px;
  font-weight: bold
}

.sobre p {
  color: #BEBEBF;

  display: flex;
  align-items: center;
  line-height: 1.5em;
  font-size: 20px;

  width: 50%;
  height: 50%;
}

.contatos {
  height: 100px;
  margin-top: 30px;

  display: flex;
  justify-content: center;
}

.contatos div {
  width: 50%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contatos div a {
  padding: 20px;  
  border-radius: 3px;

  background-color: #121214;
  background-image: linear-gradient(160deg, #121214 0%, #231037 100%);
}

.contatos div a:hover {
  background-color: #121214;
  background-image: linear-gradient(160deg, #B548D7 0%, #231037 100%);
}

.inicio {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 64px;

  background-color: #121214;
  background-image: linear-gradient(160deg, #121214 0%, #231037 100%);
}

.inicio h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.inicio img {
  width: 400px;
}

.habilidades {
  height: 500px;
  padding: 64px;

  align-items: center;
  display: flex;
  justify-content: space-around;

}

.habilidades__textos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  order: 2;
}

.habilidades h2 {
  color: #B548D7;
  font-size: 50px;
  font-weight: bold
}

.habilidades p {
  color: #BEBEBF;
  font-size: 18px;
  line-height: 1.2em;
}

.habilidades__icons {
  border: 1px solid;
  border-image: linear-gradient(#BEBEBF,#c248e7) 1;

  width: 50%;
  height: 30%;

  display: flex;
  justify-content: space-around;
}

.certificados {  
  height: 500px;
  padding: 0px 64px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.certificados div {
  /* border: 1px solid;
  border-image: linear-gradient(#c248e7, #BEBEBF) 1; */

  overflow-y: scroll;

  height: 80%;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.certificados h2 {
  color: #B548D7;
  font-size: 50px;
  font-weight: bold
}

.certificados div img {
  padding: 10px;
  width: 400px;
}

footer {
  color: #BEBEBF;
  text-align: center;
  font-size: 12px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  height: 100px;
}

footer a {
  color: #B548D7;
  background-color: #231037;

  width: 100px;
  height: 30px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  text-decoration: none;
}

footer a:hover {
  color: #BEBEBF;  
  background-color: rgb(90, 90, 90);
}

footer a:active {
  color: #B548D7;
}


@media (max-width: 877px) {
  header {
    display: none;
  }

  header p {
    font-size: 16px;
  }

  .sobre {
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    /* height: 300px; */
  }

  .sobre h2 {
    font-size: 30px;
    text-align: center;
  }

  .sobre p {
    width: 100%;
    padding: 0px 15px;

    font-size: 12px;
    text-align: center;
  }

  .contatos div {
    width: 100%;
    gap: 10px;
    justify-content: center;
  }

  .inicio {
    padding: 22px;
    height: 500px;

    gap: 36px;
    flex-direction: column;
    justify-content: space-around;
  }

  .inicio h1 {
    font-size: 30px;
  }

  .inicio img {
    width: 150px;
  }

  .habilidades {
    flex-direction: column;
  }

  .habilidades__icons {
    order: 2;
    width: 100%;
    gap: 20px;
  }

  .habilidades__textos h2 {
    font-size: 30px;
    text-align: center;
  }

  .habilidades__textos p {
    text-align: center;
    font-size: 12px;
  }

  .certificados {
    flex-direction: column;
  }

  .certificados h2 {
    font-size: 30px;
    text-align: center
  }

  .certificados div {
    width: 100%;
    height: 70%;
    overflow-x: hidden;
  }

  .certificados div img {
    width: 200px;
  }
}